.container{
  max-width: 960px;
  margin: 0 auto;
}
.header{
  background: #800606    ;
  height: 80px;
}
.header-buay{
  display: flex;
  justify-content:space-between;
  height: 80px;
  align-items: center;
}
.MenuIcon{
  color: #fff;
}
.menu{
  display: flex;
  list-style-type: none;
  /* flex-wrap: nowrap; */
}
.menu li{
  padding-right: 40px;
}
.menu li a{
  text-decoration: none;
  color: #fff;
}
.menu-link{
  text-indent: 20px;
}
.home{
  color: #fff;
} 
.payment-menu{
  color:#fff;
  background-color:#800606;
  text-align: left;
  width: fit-content;
  padding: 1%;
  margin-top: 2%;
  border-radius: 10%;
}
.paymentdetail{
  font-size: large;
}
.header_id{
  font-size: x-large;
  margin-bottom: 1%;
  font-weight: bold;
}
.orderid_head{
  font-size: large;
  font-weight: bold;
}